body {
	margin:0;
	padding:15px;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	background:#f4f4f4;
	overflow-y:scroll
}
#container {
	text-align:left;
	border:1px dashed #999;
	padding:35px;
	margin:0 auto;
	width:600px;
	background-color:#fff;
}
h1 {
	margin:0 0 10px 0;
	font-family:'Yanone Kaffeesatz',Arial;	
}
p {
	color:#999;
	font-size:13px;
	font-family:'Droid Sans',Arial;
	padding:0 0 10px 0;
}
.selector {
	text-decoration:none;
	display:block;
	float:left;
	text-align:left;
  width: 175px;
  height: 15px;
  padding: 3px 18px 3px 3px;
  margin:0;
  border: solid 1px #eee;
  font-size: 12px;
  color: #444444;
  cursor: pointer;
  background:#fff url(../images/aa.png) no-repeat top right;  
}
.selector:hover {
	background-position:right -21px;
}
	

.fontbox {
	text-align:left;
  width: 175px;    
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;  
  border-bottom: solid 1px #eee;  
  font-size: 12px;
  color: #444444;
  cursor: pointer;  
  margin: 0px;
  padding: 3px 0;
  background-color: #1a82f7;
  background: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #ffffff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
}
.fontbox a {
	width:169px;
	display:block;
	padding:0 3px;
	line-height:24px;
}
.fontbox a:hover{
	background-color:#FFC;	
}
.sample {
	font-family:'Allan',Arial,Helvetica;
	font-size:14px;
	width:100%;
	clear:both;
	border:0;	
	margin:10px 0 35px 0;
}
.sample:hover {
	color:#999;	
}
.sample:focus {
	color:#F60;	
}
.plus,.minus {
	width:21px;
	height:21px;
	border:1px solid #eee;
	float:left;
	display:inline-block;
	margin-right:5px;
}
.plus{
  background:#fff url(../images/plus.png) no-repeat top right;  
}
.minus{
  background:#fff url(../images/minus.png) no-repeat top right;  
}
.minus:hover,.plus:hover,.selector:hover{
	background-position:right -21px;
}
#selectH1sample {
	font-size:24px;	
}
#selectH2sample {
	font-size:20px;	
}
#selectH3sample {
	font-size:14px;	
}