ul#list-nav {
list-style:none;
margin-top: 10px; 
margin-left: 40px;
padding:0;
width:525px
}

ul#list-nav li {
display:inline
}

ul#list-nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:#485e49;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}

ul#list-nav li a img{
width: 30px;
}

#columntwo{
margin-left: 50px; 
margin-top: 100px; 
width: 300px;
}


/* styling for the image wrapper  */
#image_wrap {
/* dimensions */
width:677px;
margin:15px 0 15px 40px;
padding:15px 0;

/* centered */
text-align:center;

/* some "skinning" */
background-color:#efefef;
border:2px solid #fff;
outline:1px solid #ddd;
-moz-ouline-radius:4px;
}


